body {
	text-align: center;
}

#header {
	height: 60px;
}

#strap {
	height: 200px;
}

#contentWrapper {
	padding-top: 12px;
}

#leftcol {
	padding-top: 0;
}

#contentWrapper {
	text-align: left;
}

#content {
	margin-left: 170px;
	ma\rgin-left: auto;
}

.imageMenu {
	position: absolute;
	top: 0;
	left: -200px;
}
